<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="alternate" type="application/atom+xml" title="Shane Engelman's Blog on SV OutRun" href="/feed.xml">

{%- include head.html -%}

<script type="text/javascript">
  const theme = localStorage.getItem('theme');
  if (theme === "light") {
    document.documentElement.setAttribute('data-theme', 'light');
  } else {
    document.documentElement.setAttribute('data-theme', 'dark');
  }
</script>

<body>
  <div class="container">

    {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

  </div>
</body>

</html>
